@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;700&display=swap");

:root {
  --c-text-color: #d7cdcc;
  --c-background-color: #1d1e2c;
  --c-background-color-2: #40474f;
  --c-primary: #30bced;
  --c-secondary: #ea7317;
}

*:focus {
  outline: 0.15rem solid var(--c-primary);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-text-color);
  background-color: var(--c-background-color);
  font-size: 1.5rem;
}

h1,
h2 {
  font-family: "Archivo Black", sans-serif;
  text-align: center;
}

a {
  color: var(--c-primary);
}

footer,
header {
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form > input {
  margin: 1rem;
  color: var(--c-text-color);
  background-color: var(--c-background-color);
  padding: 0.75rem;
  border: 0.25rem solid var(--c-text-color);
}

form > button {
  font-family: "Roboto", sans-serif;
  color: var(--c-text-color);
  background-color: var(--c-background-color);
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: 0.25rem solid var(--c-text-color);
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.asteroid-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.asteroid-list-item {
  background-color: var(--c-background-color-2);
  width: 17.5rem;
  padding: 1rem;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(2);
}

@media screen and (max-width: 540px) {
  form {
    flex-direction: column;
  }
}
